.card {
  display: flex; /* makes children sit side by side */
  background-color: rgba(118, 198, 255, 0.3); /* light blue background */
  padding: 20px;
  margin: 24px;
  border-radius: 20px;
  /* gap: 20px;  */
  /* align-items: center;  */
}

.section {
  flex: 1; /* each section shares equal space */
  /* background-color: white;  */
  padding: 10px;
  border-radius: 10px;
}
