@import "tailwindcss"; /* Keep if using Tailwind classes in JSX */

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom, #45B2FF, #FFF3CC);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.parent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.FlightInfoContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: clamp(300px, 35vw, 500px); 
    min-height: 70vh; 
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.parent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: clamp(300px, 35vw, 500px); 
}

.FlightInfoContainer {
    width: 100%; 
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    background: rgba(118, 198, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.normalFont {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    padding: 25px;
}

.text {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px;
}

.myfont {
    color: white;
    font-weight: 700;
    margin: 20px;
    font-size: 1.5rem;
}

.navigationButton {
    padding: 0.5rem 1.5rem;
    background-color: #45b2ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s ease; 
}

.navigationButton:hover {
    background-color: #004678;
}

.inputRow {
    display: flex;  
    align-items: center;  
    gap: 1rem;    
    width: 100%;   
    margin-bottom: 0.75rem; 
  }
  
.inputLabel {
    color: #003366; 
    font-weight: 500; 
    flex-shrink: 0;

  }

.enter {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 4px;
    padding: 5px;
}