@import "tailwindcss";

html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #45B2FF, #FFF3CC) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}

.loginButton {
  border-radius: 4px;
  border: 1px solid black;
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #edf8ff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #ebf7ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.loginContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
    background: rgba(118, 198, 255, 0.3);
    border-radius: 20px;
    padding: 50px;

}

.title {
    color: white;
    font-weight: 700;
    margin-right: 20px;

}

.description {
    color: white;
    margin-top: 50px;
}

