.card {
  display: flex; /* makes children sit side by side */
  background-color: rgba(118, 198, 255, 0.3); /* light blue background */
  padding: 20px;
  margin: 24px;
  border-radius: 20px;
  /* gap: 20px;  */
  /* align-items: center;  */
}

.section {
  flex: 1;
  /* background-color: white;  */
  /* padding: px; */
  border-radius: 10px;
  margin: 10px;
}

.section1 {
  text-align: center;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  align-self: center;
}

.match-name {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 4px;
  color: #003366;
}
