.profile {
  height: 500px;
  overflow-y: scroll;
  padding: 40px;
  background-color: rgba(225, 240, 242, 0.3);
  margin: 100px;
}

.profile-top {
  display: flex;
}

.name-profile {
  text-align: left;
}

.emissions-rank {
  text-align: right;
}
