.profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-y: scroll;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-text h2 {
  font-size: 36px;
  font-weight: 700;
  color: #0a2e52;
  margin: 0 0 8px 0;
}

.side-profile {
  margin-top: 50px;
  color: #0a2e52;
}
.header-two {
  font-size: 22px;
  font-weight: 700;
  color: #0a2e52;
  margin-bottom: 10px;
  margin-top: 10px;
}
